.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 120vh;
}

@media screen and (max-width: 700px) {
  .portfolio {
    height: 210vh;
  }
}

@media screen and (max-width: 360px) {
  .portfolio {
    height: 240vh;
  }
}

.portfolio__title {
  width: 90%;
  margin-bottom: 3vh;
}

.portfolio__works {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .portfolio__works {
    flex-direction: column;
    justify-content: space-around;
  }
}

.portfolio__work {
  width: 100%;
  margin: 0 1rem 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .portfolio__work {
    flex-direction: column;
    justify-content: space-between;
  }
}

.portfolio__work__text {
  width: 90%;
  margin-left: 1rem;
}

.portfolio__work__text__title {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.portfolio__work__text__p {
  line-height: 1.5;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.portfolio__work__text__a {
  color: rgb(81, 101, 253);
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}

.portfolio__work__container__img {
  width: 200px;
  margin: 0.5rem 0;
  perspective: 30px;
}

@media screen and (max-width: 750px) {
  .portfolio__work__container__img {
    width: 200px;
  }
}

.portfolio__work__img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
}

.portfolio__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
