.aboutMe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .aboutMe {
    flex-direction: column;
    justify-content: flex-start;
    height: 120vh;
  }
}

.aboutMe__information {
  width: 80%;
}

.aboutMe__information__p {
  font-size: 1.2rem;
  width: 90%;
}

.cv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutMe__headshot {
  display: flex;
  align-items: center;
}

.aboutMe__headshot__img {
  width: 300px;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .aboutMe__headshot__img {
    width: 180px;
    margin-bottom: -40px;
  }
}
