.section:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .section:nth-child(2) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.information {
  width: 70%;
}

.information > p {
  width: 100%;
}
.cv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cv-button {
  border: 1px solid #2a2a2a;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cv-button > p {
  font-size: 1.1rem;
  font-weight: 700;
}

.cv-button:link,
.cv-button:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.headshot-container {
  display: flex;
  align-items: center;
}

.headshot {
  width: 300px;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .headshot {
    width: 180px;
    margin-bottom: -20px;
  }
}
