.section:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .section:nth-child(2) {
    flex-direction: column;
    justify-content: center;
  }
}

.information {
  width: 70%;
}

.information > h1 {
}

.information > p {
  width: 100%;
}
.cv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cv-button {
  border: 1px solid #2a2a2a;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    233deg,
    rgb(55, 69, 172) 0%,
    rgba(81, 101, 253, 1) 100%
  );
  box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  transition: transform 0.5s;
  transform-origin: center;
}

.cv-button:hover {
  box-shadow: 2px 7px 19px -5px rgb(81, 101, 253);
  -webkit-box-shadow: 2px 7px 19px -5px rgb(81, 101, 253);
  -moz-box-shadow: 2px 7px 19px -5px rgb(81, 101, 253);
  transform: scale(1.05);
  transition: box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: -moz-box-shadow 0.5s;
  transition: transform 0.5s;
}

.cv-button > p {
  font-size: 1.1rem;
  font-weight: 700;
}

.cv-button:link,
.cv-button:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.headshot-container {
  display: flex;
  align-items: center;
}

.headshot {
  width: 300px;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .headshot {
    width: 180px;
    margin-bottom: -20px;
  }
}
