.link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.link:hover:after {
  width: 100%;
}

.header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
}

.header-active {
  box-shadow: 2px 7px 19px -5px rgb(0 0 0 / 21%);
  -webkit-boxshadow: 2px 7px 19px rgba(0, 0, 0, 0.21);
  -moz-boxshadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.21);
}

.nav {
  display: flex;
  position: relative;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-items {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 0.5rem;
  color: #636363;
  cursor: pointer;
}
