.home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: relative;
}
@media screen and (max-width: 700px) {
  .home {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.home__text__p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__buttons__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.home__button {
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 2rem;
  margin-top: 1.5rem;
  font-size: 22px;
  cursor: pointer;

  border-radius: 7px;
}

.home__scrolldown {
  position: absolute;

  bottom: 4.2vh;
  animation: home__scrolldown 2s ease-in-out infinite;
  font-size: 1.3rem;
}

.home__scrolldown-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.8s linear;
}

@keyframes home__scrolldown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
