h1 {
  font-size: 2.5rem;

  margin-top: 10vh;
}

.link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}

.link:hover:after {
  width: 100%;
}

h2 {
  font-size: 2.5rem;
  font-weight: 800;
  text-align: left;
  margin-top: 10vh;
}

p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 300;
}

.header {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
}

.header-active {
  box-shadow: 2px 7px 19px -5px rgb(0 0 0 / 21%);
  -webkit-boxshadow: 2px 7px 19px rgba(0, 0, 0, 0.21);
  -moz-boxshadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.21);
}

.nav {
  display: flex;
  position: relative;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
  margin: 0 1rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.nav-items {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 0.5rem;
  color: #636363;
  cursor: pointer;
}

.active {
  /* font-weight: bold; */
}

.section {
  color: black;
  height: 100vh;
}

.section:not(:first-child) {
  /* content-visibility: auto; */
}
.section-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-padding {
  padding: 0 3vw;
  margin-top: 5vh;
}

.section:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: relative;
}

.home-text > p {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .section:first-child {
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.container-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttoné {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  border-radius: 20px;
  background: linear-gradient(
    233deg,
    rgb(55, 69, 172) 0%,
    rgba(81, 101, 253, 1) 50%,
    rgba(147, 64, 251, 1) 100%
  );
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding: 1rem;
  margin-top: 1.2rem;
  cursor: pointer;
}

.button {
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 2rem;
  margin-top: 1.5rem;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  background: rgb(81, 101, 253);
  background: linear-gradient(
    233deg,
    rgb(55, 69, 172) 0%,
    rgba(81, 101, 253, 1) 50%,
    rgba(147, 64, 251, 1) 100%
  );

  border-radius: 7px;
  box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  transition: transform 0.5s;
  transform-origin: center;
}

.button:hover {
  box-shadow: 2px 7px 19px -5px rgba(147, 64, 251, 1);
  -webkit-box-shadow: 2px 7px 19px -5px rgba(147, 64, 251, 1);
  -moz-box-shadow: 2px 7px 19px -5px rgba(147, 64, 251, 1);
  transform: scale(1.05);
  transition: box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: -moz-box-shadow 0.5s;
  transition: transform 0.5s;
}

.scrolldown {
  position: absolute;

  bottom: 4.2vh;
  animation: scrolldown 2s ease-in-out infinite;
  font-size: 1.3rem;
}

.scrolldown-hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s, opacity 0.8s linear;
}

@keyframes scrolldown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.section:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .section:nth-child(2) {
    flex-direction: column;
    justify-content: center;
  }
}

.information {
  width: 70%;
}

.information > h1 {
}

.information > p {
  width: 100%;
}
.cv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cv-button {
  border: 1px solid #2a2a2a;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    233deg,
    rgb(55, 69, 172) 0%,
    rgba(81, 101, 253, 1) 50%,
    rgba(147, 64, 251, 1) 100%
  );
  box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  transition: transform 0.5s;
  transform-origin: center;
}

.cv-button:hover {
  box-shadow: 2px 7px 19px -5px rgba(147, 64, 251, 1);
  -webkit-box-shadow: 2px 7px 19px -5px rgba(147, 64, 251, 1);
  -moz-box-shadow: 2px 7px 19px -5px rgba(147, 64, 251, 1);
  transform: scale(1.05);
  transition: box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: -moz-box-shadow 0.5s;
  transition: transform 0.5s;
}

.cv-button > p {
  font-size: 1.1rem;
  font-weight: 700;
}

.cv-button:link,
.cv-button:visited {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.headshot-container {
  display: flex;
  align-items: center;
}

.headshot {
  width: 300px;
  border-radius: 50%;
}

@media screen and (max-width: 700px) {
  .headshot {
    width: 180px;
    margin-bottom: -20px;
  }
}

.section:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;

  background-color: #f7f4ffcc;
}

@media screen and (max-width: 700px) {
  .section:nth-child(3) {
    height: 225vh;
  }
}

@media screen and (max-width: 360px) {
  .section:nth-child(3) {
    height: 260vh;
  }
}

.portfolio-title {
  width: 90%;
  margin-bottom: 3vh;
}

.portfolio-title > p {
  font-size: 2rem;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.29);
  text-align: left;
}

.portfolio-works {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .portfolio-works {
    flex-direction: column;
    justify-content: space-around;
  }
}

.portfolio-work {
  width: 90%;
  margin: 0 1rem 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .portfolio-work {
    flex-direction: column;
    justify-content: space-between;
  }
}

.portfolio-work-text {
  width: 90%;
  margin-left: 1rem;
}

.portfolio-work-text > h3 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #0f0f0f;
}
.portfolio-work-text > p {
  color: rgb(0, 0, 0);
  line-height: 1.5;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
.portfolio-work-text > a {
  color: #9273ce;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}
.portfolio-work-text > ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.portfolio-work-text > ul > li {
  max-width: 2.5rem;
  min-width: 2.5rem;
  display: block;
  text-align: center;
  margin: 0.2rem;
  padding: 0.4rem;
  border-radius: 20px;
}

.portfolio-work-container-img {
  width: 250px;
  margin: 0.5rem 0;
  perspective: 50px;
}

@media screen and (max-width: 750px) {
  .portfolio-work-container-img {
    width: 200px;
  }
}

.portfolio-work-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 50px rgb(0 0 0 / 15%);
}

.portfolio-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.contact-title {
  width: 90%;
  margin-bottom: 3vh;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .contact-container {
    flex-direction: column;
    justify-content: space-around;
  }
}

.contact-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-button {
  background: black;
  color: white;

  width: 8rem;

  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: 1.2rem;
}

.download-button {
  width: 60%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 1.5rem;
  font-size: 18px;
  background: rgb(81, 101, 253);
  background: linear-gradient(
    233deg,
    rgb(55, 69, 172) 0%,
    rgba(81, 101, 253, 1) 50%,
    rgba(147, 64, 251, 1) 100%
  );
  padding-left: 0;
  padding-right: 0;
  border-radius: 7px;
  box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 7px 19px -5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  transition: transform 0.5s;
  transform-origin: center;
}

.download-button:hover {
  box-shadow: 2px 7px 19px -5px rgba(147, 64, 251, 1);
  -webkit-box-shadow: 2px 7px 19px -5px rgba(147, 64, 251, 1);
  -moz-box-shadow: 2px 7px 19px -5px rgba(147, 64, 251, 1);
  transform: scale(1.05);
  transition: box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: -moz-box-shadow 0.5s;
  transition: transform 0.5s;
}

.download-button:link,
.download-button:visited {
  text-decoration: none;
  color: white;
}

.download-icon {
  background-color: #fff;
  height: calc(40px + 1rem);
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.download-text {
  border-left: none;
  padding: 1rem 2rem;
  font-size: 20px;
}

.whatsapp-qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.whatsapp-qrcode > img {
  width: 30%;
}

@media screen and (max-width: 700px) {
  .whatsapp-qrcode {
    display: none;
  }
}

.footer {
  background-color: #25282c;
  color: #fff;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.footer-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-item > h4 {
}

.footer-item > p {
  font-size: 14px;
  line-height: 2;
}

.bubble-section {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1000;
  top: 0;
}

.bubble-XL-left {
  width: 30vh;
  height: 30vh;
  position: fixed;
  top: 20vh;
  left: -2vw;
  background-color: rgb(222 247 229);
  border-radius: 66% 34% 58% 42% / 43% 45% 55% 57%;
  animation: bubble 6s linear infinite;
}

.bubble-XL-right {
  width: 30vh;
  height: 30vh;
  position: fixed;
  top: 50vh;
  right: -2vw;
  background-color: rgb(146 227 169);
  border-radius: 66% 34% 58% 42% / 43% 45% 55% 57%;
  animation: bubble 6s linear infinite;
}

@keyframes bubble {
  0% {
    border-radius: 66% 34% 58% 42% / 43% 45% 55% 57%;
  }

  33% {
    border-radius: 58% 42% 77% 23% / 43% 40% 60% 57%;
  }
  66% {
    border-radius: 30% 70% 86% 30% / 30% 21% 79% 70%;
  }
  100% {
    border-radius: 66% 34% 58% 42% / 43% 45% 55% 57%;
  }
}
