.section:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 110vh;
}

.contact-title {
  width: 90%;
  margin-bottom: 3vh;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .contact-container {
    flex-direction: column;
    justify-content: space-around;
  }
}

.contact-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-button {
  background: black;
  color: white;

  width: 8rem;

  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  flex-direction: column;

  font-size: 1.2rem;
}

.download-button {
  width: 60%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 1.5rem;
  font-size: 18px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 7px;
}

.download-icon {
  background-color: #fff;
  height: calc(40px + 1rem);
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.download-text {
  border-left: none;
  padding: 1rem 2rem;
  font-size: 20px;
}

.whatsapp-qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.whatsapp-qrcode > img {
  width: 40%;
}

@media screen and (max-width: 700px) {
  .whatsapp-qrcode {
    display: none;
  }
}
