.contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 110vh;
}

.contact__title {
  width: 90%;
  margin-bottom: 3vh;
}

.contact__container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

@media screen and (max-width: 700px) {
  .contact__container {
    flex-direction: column;
    justify-content: space-around;
  }
}

.contact__img__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button__download {
  width: 60%;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 1.5rem;
  font-size: 18px;
  padding-left: 0;
  padding-right: 0;
  border-radius: 7px;
}

.button__download__icon {
  background-color: #fff;
  height: calc(40px + 1rem);
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.button__download__text {
  border-left: none;
  padding: 1rem 2rem;
  font-size: 20px;
}

.whatsapp__qrcode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 700px) {
  .whatsapp__qrcode {
    display: none;
  }
}

.whatsapp__qrcode__img {
  width: 40%;
  border-radius: 5px;
}
